*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
body{
    background: #f3fafa;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(193, 252, 134);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    height: 50px;
    margin-right: 45px;
    border-radius: 13%;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 3%;
    outline: none;
    border: 0;
}
.category-bar{
    width: 300px;
    margin: 10px;
}
.category-bar .select-category{
    display: flex;
    background: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.select-category i{
    font-size: 25px;
}
.category-bar .categories{
    position: absolute;
    padding: 10px;
    display: block;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: none;
}
.category-bar.active .categories{
    display: block;
}
.categories .category{
    display: flex;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.categories .category:hover{
    background: #f2f2f2;
}
.category i{
    font-size: 15px;
    margin-right: 12px;
}
.category .category-text{
    font-size: 18px;
    color: #333;
}
.type-bar{
    width: 300px;
    margin: 10px;
}
.type-bar .select-type{
    display: flex;
    background: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.type-bar .types{
    position: absolute;
    padding: 10px;
    display: block;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: none;
}
.type-bar.active .types{
    display: block;
}
.types .type{
    display: flex;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.types .type:hover{
    background: #f2f2f2;
}
.type .type-text{
    font-size: 18px;
    color: #333;
}